# Mac files
*.DS_Store

# LaTeX auxiliary files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz

# LaTeX build artifacts
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.xdv

# C build artifacts
*.o
*.out
*.dSYM/
code/anc
code/ancestorsTree
code/project
project

# Una cosa que no entenc ni que es
.vscode/